extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp; #{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      .error= message 

      each location in locations
        .card
          .card-block
            h4
              a(href=`/location/${location.id}`)= location.name
              +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right= location.distance
            p.address= location.address
            .facilities
              each facility in location.facilities
                span.badge.badge-warning= facility
    .col-12.col-md-4
      p.lead= sidebar
block scripts
  script(src='/dist/runtime-es5.465c2333d355155ec5f3.js')
  script(src='/dist/main-es5.dd79a9ddb455c8ae1899.js')
  script(src='/dist/polyfills-es5.2219c87348e60efc0076.js')
